@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #181a20;
  color: #ffffff;
}

header {
  padding: 1.5rem 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container-logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
header .container-logo i {
  font-size: 2.5rem;
}
header .box-search {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  padding: 0.7rem 1.6rem;
  background-color: rgb(238, 238, 238);
  background-color: rgba(48, 47, 47, 0.3);
  background-color: rgba(54, 53, 53, 0.3);
}
header .box-search input {
  width: 100%;
  padding-left: 1rem;
  background: transparent;
  border: none;
  outline: none;
  color: #b9b8b8;
  font-size: 1.5rem;
  border-right: 1px SOLID rgba(189, 189, 189, 0.404);
}
header .box-search i {
  margin-left: 2.6rem;
  font-size: 2.5rem;
  color: rgba(173, 171, 171, 0.699);
}
header .box-options {
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
header .box-options i {
  font-size: 1.9rem;
  cursor: pointer;
}
header .box-options span {
  cursor: pointer;
  border: 1px solid rgba(153, 154, 160, 0.356);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
}
header .box-options span:hover {
  border: 1px solid rgba(51, 72, 177, 0.486);
  color: rgb(102, 102, 231);
}
header .box-options button {
  cursor: pointer;
  padding: 0.5rem 2.5rem;
  border: none;
  outline: none;
  background: rgba(74, 111, 190, 0.795);
  background: rgba(119, 13, 206, 0.795);
  background: rgba(119, 13, 206, 0.795);
  color: #ffffff;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}
header .box-options button:hover {
  background: rgba(108, 12, 187, 0.795);
}

main {
  width: 100%;
  height: 100%;
  padding: 2rem 2rem 0 5rem;
  display: flex;
}

.container-video-comments {
  width: 75%;
}
.container-video-comments .box-video {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container-video-comments .box-video video {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container-video-comments .box-video .bar {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem 1.6rem;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.377);
}
.container-video-comments .box-video .bar i {
  font-size: 2rem !important;
}
.container-video-comments .box-video .bar div {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  font-size: 1.3rem;
}
.container-video-comments .box-video .bar .last {
  margin-left: auto;
}
.container-video-comments .box-video .describe {
  border-bottom: 1px solid rgba(128, 128, 128, 0.377);
  margin-top: 1.5rem;
  padding-bottom: 0.5rem;
}
.container-video-comments .box-video .describe h2 {
  color: rgb(221, 221, 221);
  font-weight: 500;
  font-size: 2rem;
}
.container-video-comments .box-video .describe div {
  margin-top: 0.2rem;
  align-items: center;
  display: flex;
}
.container-video-comments .box-video .describe div .ponto {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.container-video-comments .box-video .describe div span {
  font-weight: 400;
  font-size: 1.1rem;
  color: rgb(155, 155, 155);
}
.container-video-comments .box-video .channel {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.9rem;
       column-gap: 0.9rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.377);
  padding-bottom: 1.5rem;
}
.container-video-comments .box-video .channel img {
  border-radius: 50%;
  width: 4.2rem;
  height: 4.2rem;
}
.container-video-comments .box-video .channel div {
  display: flex;
  align-items: center;
}
.container-video-comments .box-video .channel div h2 {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.container-video-comments .box-video .channel div h2 p {
  font-weight: 400;
  font-size: 1rem;
  color: #b9b8b8;
  text-transform: capitalize;
}
.container-video-comments .box-video .channel div button {
  margin-left: 5rem;
  cursor: pointer;
  padding: 0.5rem 2.5rem;
  border: none;
  outline: none;
  background: rgba(74, 111, 190, 0.795);
  background: rgba(119, 13, 206, 0.795);
  background: rgba(119, 13, 206, 0.795);
  color: #ffffff;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}
.container-video-comments .box-video .channel div button:hover {
  background: rgba(108, 12, 187, 0.795);
}

.container-recommended {
  border: 1px solid white;
  width: 25%;
  height: 100%;
}

.container-video-comments .box-comments {
  margin-top: 1.5rem;
  margin-bottom: 50rem;
  border: 1px solid red;
}
.container-video-comments .box-comments .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-video-comments .box-comments .title h3 {
  font-size: 1.6rem;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */